body {
  display: flex;
  justify-content: center;
  align-items: center;
}
Header {
  width: 1500px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  margin: 0 auto;
}
.navigation {
  width: 1500px;
  height: 300px;
  display: flex;
}
.logo {
  width: 700px;
}
img {
  margin-top: 30px;
  margin-left: 20px;
}

.nav {
  width: 800px;
}

.navigation ul {
  margin-top: 100px;
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-right: 1em;
  margin-left: 0.5em;
  padding: 2em 1em;
}

.navigation li {
  display: flex;
  align-items: flex-end;
  font-family: 'Lato', sans-serif;
  margin: 20px;
  font-size: 30px;
}
Link p {
  text-decoration: none;
}

.headerLink {
  color: white;
  text-decoration: none;
}

.form-container {
  border-radius: 10px;
  width: 360px;
  background-color: #e5e5e5;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.form p {
  color: black;
  font-weight: 500;
  text-align: left;
}

/*.success-message {

  font-family: 'Roboto', sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}*/

.input-field {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

input {
  background: #f2f2f2;
  width: 300px;
}

button {
  border: solid 2px #f2a03d;
  background-color: #e5e5e5;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  width: 100px;
  margin: auto;
}

h2 {
  text-align: center;
}

p {
  font-weight: 500;
  text-align: left;
}
